<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_ITransportsService">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/transports" binding="netMsmqBinding"
                bindingConfiguration="NetMsmqBinding_ITransportsService" contract="Proxy.ITransportsService"
                name="NetMsmqBinding_ITransportsService" />
        </client>
    </system.serviceModel>
</configuration>