.container {
  width: 500px;
  margin: 0 auto;
  display: flex;
}

.item {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid gray;
}

.label {
  color: gray
}

.custom-button {
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

.custom-button-accent {
  color: white;
  background: #FF5E45;
}

.custom-button-primary {
  color: white;
  background: skyblue;
}

.frame-container {
  width: 1200px;
  padding-top: 40px;
  margin: 0 auto;
}

.main-label {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 25px;
}

.togleframe {
  width: 100px;
  margin-left: calc(50% - 50px);
}