.container {
  width: 500px;
  margin: 0 auto;
  display: flex;
}

.item {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid gray;
}

.label {
  color: gray
}

.custom-button {
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

.custom-button-accent {
  color: white;
  background: #FF5E45;
}

.custom-button-primary {
  color: white;
  background: skyblue;
}

.frame-container {
  width: 1200px;
  padding-top: 40px;
  margin: 0 auto;
}

.main-label {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 25px;
}

#togle_frame {
  width: 100px;
  margin-left: calc(50% - 50px);
}

.form-container {
  padding-left: 40px;
  margin-top: 200px;
}

.form-group input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group input[type=button]:hover {
  background-color: #45a049;
}

.form-group div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}